h1{
    display: flex;
    align-items: center ;
    padding: 0%;
    margin: auto;
    justify-content: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
}
body{
background-color: grey;


}
 .container{
width: 900px;
max-width: 90vw;
margin: auto;
text-align: center;
padding-top: 10px;

 }
  
 header .title{
    font-size: 36px;
    font-weight: bold;
    justify-content: space-between;

 }
 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 20px 0px;
font-size: 24px;
}

/* .iconCart{
    display: block;
    margin-left: 0%;
    font-size: 30px;
}

header .iconCart span{
    display: block;
    font-size: 25px;
    width: 25px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 11%;
    right: 53%
    
} */

#header2{
    display: flex;
    justify-content: start;
    font-size: 30px;
}
.ul{
    display: block;
    align-items: center;
    text-align: center ;
    margin-top: 3px;
    justify-items: center;

}
.userInput{
    font-size: 20px;
    border-radius: 10px;
    margin-top: 9%;
    padding: 0%;
    top: 0%;
    background-color: darkslategray;
    color: #fff;

}

.enter{
    background-color: darkslategray;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    
}

/* body .showCart .cartTab{
inset: 0 0 0 auto;

}
body .showCart .container{
transform: translateX(-250px);
 
}
#cartTab{
    width: 400px;
    background-color: #353432;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -400px 0 auto;
    display: grid;
    transition: 1s;
    
}
#cartTab h1{
 padding: 20px;
    margin: 20px;
    font-weight: 300;
    text-decoration: lightblue;

}
#cartTab #divBtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}
#cartTab #divBtn button{
    background-color: orange;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 25px;
    
} */